<% layout('../partials/content') -%>
<div class="row">
    <div class="col-12 mb-3">
        <h1 class="text-center">About Me</h1>
      </div>
  <div class="col-md-6 offset-md-3 text-center mb-3">
    <!-- my image -->
    <img
      src="/img/me.jpg"
      alt=""
      class="img-circle img-thumbnail"
      width="200px"
    />
  </div>
  <div class="col-md-6">
    <!-- about me -->
    <h3>About Me</h3>
    <p class="lead">
      Motivated individual with vast experience in construction trades and programming.
      Skilled in web and mobile app development, carpentry and tiling, with the ability to work independently
      and as part of a team. Safely operates power tools and heavy machinery,
      able to lift and carry heavy equipment and materials.
    </p>
  </div>
  <div class="col-md-6">
    <!-- my details -->
    <h3>Personal Details</h3>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th>Name</th>
          <td>Paras Kharanger</td>
        </tr>
        <tr>
          <th>Contacts</th>
          <td>+1 437 557 3336</td>
        </tr>
        <tr>
          <th>Address</th>
          <td>Brampton, ON 6LR1C4</td>
        </tr>
        <tr>
          <th>Profession</th>
          <td>Software Engineer</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
