<% layout('../partials/content') -%>
<div class="row">
  <div class="col-12 mb-3">
    <h1 class="text-center">My Services</h1>
  </div>
  <!-- web and mobile app -->
  <div class="col-md-8 offset-md-2 mb-2">
    <div class="card card-info">
      <div class="card-header bg-transaprent">
        Web and Mobile App Development
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4 col-lg-6">
            <img src="img/mobile-app.jpg" alt="" class="img-fluid" />
          </div>
          <div class="col-md-8 col-lg-6">
            <p class="card-text">
              Crafting high-quality web and mobile applications to meet your
              business needs. From responsive web designs to feature-rich mobile
              apps, I deliver digital solutions that drive results.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Carpentry and Tiling -->
  <div class="col-md-8 offset-md-2 mb-2">
    <div class="card card-info">
      <div class="card-header bg-transaprent">Carpentry and Tiling</div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4 col-lg-6">
            <img src="img/tiling.jpg" alt="" class="img-fluid" />
          </div>
          <div class="col-md-8 col-lg-6">
            <p class="card-text">
              Transforming spaces with expert carpentry and tiling services.
              Whether it's building custom furniture or creating stunning tile
              installations, I bring craftsmanship and precision to every
              project.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Heavy Machinery Operation -->
  <div class="col-md-8 offset-md-2 mb-2">
    <div class="card card-info">
      <div class="card-header bg-transaprent">Heavy Machinery Operation</div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4 col-lg-6">
            <img src="img/heavy-machinery.jpg" alt="" class="img-fluid" />
          </div>
          <div class="col-md-8 col-lg-6">
            <p class="card-text">
              Safely operating power tools and heavy machinery for construction
              and industrial projects. With a focus on safety and efficiency, I
              handle and transport heavy equipment and materials effectively.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
